body {
    background-image: linear-gradient(white , white);
    background-attachment: fixed;
}
h1 {
    text-align: center;
}

textarea {
    margin: 0% 5% 0%;
    width: 90%;
    height: 85vh;
    resize: none;
    font-size: 2vw;
}